body{
  background-color: $light-grey
}
.glob__shadow {
  box-shadow: $glob-box-shadow;
}
.global__color-teal
{
  color: $teal;
}
.global__color-gold{
  color:$gold;
}
.global__color-lightGrey{
  color: $light-grey3;
}
input[type="file"] {
    display: none;
}
.global__hidden{
  display: none;
}
