body {
  background-color: $light-grey;
}

.glob__shadow {
  box-shadow: $glob-box-shadow;
}

.global__color-teal {
  color: $teal;
}

.global__color-gold {
  color: $gold;
}

.global__color-lightGrey {
  color: $light-grey3;
}

input[type="file"] {
  display: none;
}

textarea {
  border: none;
  overflow:hidden;
  outline: none;
  border-color: Transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-height: 120px;
min-height: 100px;
}

.global__hidden {
  display: none;
}

.global__scroll-CH::-webkit-scrollbar {
  width: 5px;
}

.global__scroll-CH::-webkit-scrollbar-track {
  background: #ddd;
}

.global__scroll-CH::-webkit-scrollbar-thumb {
  background: #666;
}
.global__scroll-IE{
  scrollbar-base-color: #C0C0C0;

   scrollbar-base-color: #C0C0C0;

   scrollbar-dlight-color: #C0C0C0;

   scrollbar-highlight-color: #C0C0C0;

   scrollbar-track-color: #EBEBEB;

   scrollbar-arrow-color: black;

   scrollbar-shadow-color: #C0C0C0;

   scrollbar-dark-shadow-color: #C0C0C0;
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 50px;
  animation: pulse 1s ease infinite,
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
