#master {
  padding-top: 10px;
}

.master__progress{
  position: fixed;
 top: 0;
 left: 0;
 z-index: 1001;
 width: 100%;
}

.master__message{
  position: fixed;
 top: 5;
 left: 0;
 text-align: center;
 z-index: 1001;
 width: 100%;
}
