.post__avatar-title{
  color: $teal;
  font-size: 14px;
}

.post__public-status{
  color: $grey;
  font-size: 14px;
}

.post__meta
{
  position: relative;
  top: 7px;
}
.post__date
{
  color:#666;
  font-size: 10px;
}

.post__avatar{
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  margin-right: 10px;
}
