.post__avatar-title{
  color: $teal;
  font-size: 14px;
}

.post__public-status{
  color: $grey;
  font-size: 14px;
}

.post__meta
{
  position: relative;
  top: 7px;
}
.post__date
{
  color:#666;
  font-size: 10px;
}

.post__avatar{
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  margin-right: 10px;
}
.post__image {
  width: 100%;
  height: 380px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 transparent;
  text-align: center;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
